* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --hue: 223;
    --bg: hsl(var(--hue), 90%, 90%);
    --fg: hsl(var(--hue), 90%, 10%);
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.4s;
    --trans-timing: cubic-bezier(0.83, 0, 0.17, 1);
    font-size: calc(48px + (72 - 48) * (100vw - 320px) / (2560 - 320));
}
body,
input {
    font: 1em/1.5 sans-serif;
}
body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    height: 100vh;
    transition: background-color var(--trans-dur), color var(--trans-dur);
}
.switch,
.switch_input,
.switch_scene {
    display: block;
    position: relative;
}
.switch,
.switch_input {
    border-radius: 0.75em;
    -webkit-tap-highlight-color: transparent;
}
.switch {
    margin: auto;
}
.switch_input {
    background-image: linear-gradient(hsl(213, 90%, 60%), hsl(193, 70%, 60%));
    box-shadow: 0 0 0 0.125em hsla(var(--hue), 90%, 50%, 0);
    cursor: pointer;
    outline: transparent;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    transition: box-shadow 0.15s linear;
}
.switch_input:focus-visible {
    box-shadow: 0 0 0 0.125em hsla(var(--hue), 90%, 50%, 1);
}
.switch_input::before {
    background-color: hsl(3, 90%, 50%);
    background-image: linear-gradient(hsla(253, 90%, 50%, 1), hsla(253, 90%, 50%, 0));
    border-radius: inherit;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    transition: background-color var(--trans-dur) var(--trans-timing), opacity var(--trans-dur) var(--trans-timing);
}
.switch_cloud,
.switch_handle,
.switch_handle-side,
.switch_handle-side circle,
.switch_moon-hole,
.switch_star,
.switch_star use,
.switch_stars {
    transition: opacity var(--trans-dur) var(--trans-timing), transform var(--trans-dur) var(--trans-timing);
}
.switch_cloud {
    transform: translate(34px, 9px);
    transform-origin: 4.5px 4px;
}
.switch_cloud:nth-child(2) {
    transform: translate(24px, 13px) scale(0.8);
    transition-delay: 0.2s;
}
.switch_cloud:nth-child(3) {
    transform: translate(24px, 13px) scale(0.6);
    transition-delay: 0.1s;
}
.switch_handle {
    transform: translate(12px, 12px);
}
.switch_moon-hole {
    transform: translate(16px, 0);
}
.switch_scene {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.switch_star,
.switch_star use {
    transform-origin: 2px 2px;
}
.switch_star {
    transform: translate(28px, 14px) scale(0) rotate(20deg);
}
.switch_star use {
    transform: scale(0);
}
.switch_star:nth-child(2) {
    transform: translate(21px, 13px) scale(0) rotate(-20deg);
}
.switch_star:nth-child(3) {
    transform: translate(17px, 10px) scale(0) rotate(20deg);
}
.switch_star:nth-child(4) {
    transform: translate(24px, 6px) scale(0) rotate(-20deg);
}
.switch_star:nth-child(5) {
    transform: translate(31px, 5px) scale(0) rotate(20deg);
}
.switch_stars {
    opacity: 0;
}
.switch_text {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}
:has(.switch_input:checked) {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
}
.switch_input:checked::before {
    background-color: hsl(223, 90%, 60%);
    opacity: 1;
}
.switch_input:checked + .switch_scene .switch_cloud {
    opacity: 0;
    transform: translate(34px, 24px);
    transition-duration: 0.25s, var(--trans-dur);
    transition-delay: 0s;
}
.switch_input:checked + .switch_scene .switch_cloud:nth-child(2) {
    transform: translate(24px, 24px) scale(0.8);
}
.switch_input:checked + .switch_scene .switch_cloud:nth-child(3) {
    transform: translate(24px, 24px) scale(0.6);
}
.switch_input:checked + .switch_scene .switch_handle {
    transform: translate(36px, 12px) scale(0);
}

.switch_input:checked + .switch_scene .switch_handle-side {
    opacity: 1;
    transform: translate(12px, 12px) scale(1);
}
.switch_input:checked + .switch_scene .switch_handle-side:first-child circle:nth-child(2) {
    transform: translate(0.75em);
}
.switch_input:checked + .switch_scene .switch_handle-side:nth-child(2),
.switch_input:checked + .switch_scene .switch_star {
    opacity: 1;
}
.switch_input:checked + .switch_scene .switch_moon-hole {
    transform: translate(0, 0);
}
.switch_input:checked + .switch_scene .switch_star {
    transform: translate(18px, 14px) scale(1) rotate(-20deg);
}
.switch_input:checked + .switch_scene .switch_star {
    transform: scale(1);
    transition: opacity var(--trans-dur) var(--trans-timing), transform 0.5s cubic-bezier(0.65, 0, 0.35, 2);
}
.switch_input:checked + .switch_scene .switch_star:nth-child(2) {
    transform: translate(11px, 13px) scale(0.8) rotate(20deg);
}
.switch_input:checked + .switch_scene .switch_star:nth-child(2),
.switch_input:checked + .switch_scene .switch_star:nth-child(2) use {
    transition-delay: 0.2s;
}
.switch_input:checked + .switch_scene .switch_star:nth-child(3) {
    transform: translate(7px, 10px) scale(0.6) rotate(-20deg);
}
.switch_input:checked + .switch_scene .switch_star:nth-child(3),
.switch_input:checked + .switch_scene .switch_star:nth-child(3) use {
    transition-delay: 0.05s;
}
.switch_input:checked + .switch_scene .switch_star:nth-child(4) {
    transform: translate(14px, 6px) scale(0.6) rotate(20deg);
}
.switch_input:checked + .switch_scene .switch_star:nth-child(4),
.switch_input:checked + .switch_scene .switch_star:nth-child(4) use {
    transition-delay: 0.15s;
}
.switch_input:checked + .switch_scene .switch_star:nth-child(5) {
    transform: translate(21px, 5px) scale(0.4) rotate(-20deg);
}
.switch_input:checked + .switch_scene .switch_star:nth-child(5),
.switch_input:checked + .switch_scene .switch_star:nth-child(5) use {
    transition-delay: 0.1s;
}
:has(.switch--pristine),
.switch-pristine *,
.switch-pristine *::before {
    transition: none !important;
}
